<header class="major">
    <h2><a href="#">人生有诗意，岁月写真情</a></h2>
</header>
<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
<p>
    嗨，好久不见，请坐请坐。
    <br/>
    给你热茶，小心烫。
    <br/>
    正如我之前所说，博客对于我是有重要意义的，绝对不是什么心血来潮的产物。它记录的与其说是一些文字，倒不如说是我的整个心路历程。
</p>
<h3>一</h3>
<p>
    我们行走在这个世界上，纵使如鸿毛拂过水面，亦自会荡起一泛涟漪。人们走过的路，留下的脚印或深或浅，总归是记录了一段独属于自己的心路历程。然而正如涟漪终会消失，脚印会被覆盖，珍贵的心路历程如果不被记录下来便会被逐渐遗忘。为了克服这种遗忘，我们往往选择用相机去记录时光。然而看着相片中或微笑或悲伤的那个人，我总是感觉极为陌生，我已经全然想不起来当时的心境，找不回当时的感觉了。这就是为什么我们应该用文字记录生活。相比于图像，文字的魅力就在于一段简单的描述便可以极大地还原当事人的心境。透过文字，我们可以看出一个人完整的生命轨迹。
</p>
<p>
    为了记录生活，我一度尝试过很多方法，虽然各有优势，但是总是不能让我满意。我一向不喜欢在空间与朋友圈分享自己的生活与想法，一是不免被人嘲笑自己矫情，二是一条动态过短，实在难以把自己的想法说清楚。而博客则相对是一块自由之地，两三随笔也好，长篇大论也好，总归是我自己耕耘的田地，只求种出自己想要的果实，永不过分在意他人言语。这样就好，这样就好。
</p>

<article>
    <ul class="actions">
        <li><a href="{{ "/blog/open-page/" | absolute_url }}" class="button">查看完整文章</a></li>
    </ul>

</article>

